.list-resources {
    position: relative;
    width: 100vw;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
    flex-wrap: wrap;
}

.wrap_card_resources {
    margin-top: 20px;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-wrap: wrap;
}

.card_resources {
    width: 300px;
    margin-bottom: 20px;
    height: 300px;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    color: black;
    cursor: pointer;
}

.card_head_resources {
    position: relative;
    width: 100%;
    height: 70%;
    background-position: left;
    background-size: cover;
    overflow: hidden;
    border-radius: 10px;
    color: black;
    background-repeat: no-repeat;
    transition: 0.4s;
    cursor: pointer;
}

.card_head_resources:hover .img_resources {
    filter: brightness(60%);
    transition: 0.6s;
}

.card_head_resources .download_icon {
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 33;
    opacity: 0;
    color: white;
    background-color: #fff;
    border-radius: 100px;
    padding: 10px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: 0.5s;
}

.download_icon:hover {
    transform: translate(-50%, -50%);
    filter: brightness(95%);
    transition: 0.4s;
}

.card_head_resources:hover .download_icon {
    transform: 0.4s;
    opacity: 1;
    top: 50%;
    transition: 0.6s;
}

.card_head_resources .img_resources {
    width: 100%;
    height: 100%;
    background-position: left;
    background-size: cover;
}

.title_card {
    position: relative;
    left: 0;
    font-size: 18px;
    color: rgb(68, 68, 68);
}

.list_desc {
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.card_body_resources {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.menu_kategori {
    position: relative;
    padding: 10px;
    margin-left: -40px;
    margin-top: 30px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_kategori ul {
    display: flex;
    justify-content: left;
    align-items: left;
}

.menu_kategori ul li {
    list-style: none;
    color: black;
    font-weight: 500;
    cursor: pointer;
    font-size: 18px;
    margin: 0 20px;
}

.list_tools {
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 2px;
    position: relative;
    top: -25px;
}

.load_more {
    width: 100vw;
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 40px;
    justify-content: center;
}

.btn_load_more {
    width: 166px;
    height: 41px;
    background: #E3EBFF;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.4s;
}

.btn_load_more:hover {
    filter: brightness(90%);
    transition: 0.4s;
}

.skeleton {
    position: relative;
    overflow: hidden;
}

.skeleton::before {
    position: absolute;
    content: '';
    width: 80px;
    animation: bfr 3s ease infinite;
    transform: rotate(20deg);
    height: 130%;
    top: -19px;
    background-color: rgba(255, 255, 255, 0.904);
}

@keyframes bfr {
    from {
        left: 0;
        top: -20px;
    }
    
    to {
        top: -20px;
        left: 100%;
    }
}