.banner_resources {
    position: relative;
    width: 100vw;
    height: 400px;
}

.banner_resources img {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}